<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${banner.tabTitle}"></title>
    <link rel="stylesheet" th:href="@{/styles.css}" href="/styles.css"/>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            document.cookie = `userTimezone=${timezone}; path=/; max-age=31536000`;
        });

        const SELECTED_CLASS_TYPE = 'selectedClassType';
        const SELECTED_INSTRUCTOR = 'selectedInstructor';

        // CLear all filters
        document.addEventListener('DOMContentLoaded', function () {

            const logoLink = document.querySelector('.logo');

            if (logoLink) {
                logoLink.addEventListener('click', function (e) {
                    sessionStorage.removeItem(SELECTED_CLASS_TYPE);
                    sessionStorage.removeItem(SELECTED_INSTRUCTOR);
                });
            }

        });

    </script>

</head>

</html>